.facilites {
  flex: 0.5;
  border-right: 2px solid silver;
}
.facilites > h2 {
  margin-left: 45%;
}
.facilites > p {
  margin-top: 8%;
  margin-left: 42%;
  font-size: large;
  font-weight: 500;
}
.facilites > button {
  padding: 9px;
  width: 100px;
  background: #1082cb;
  border-radius: 10px;
  margin-left: 43%;
  margin-top: 2%;
  color: white;
  font-size: 16px;
}
.facilites > button:focus {
  outline: 0;
}
.facilites > button:hover {
  background-color: #3498db;
}
.facilites > img {
  height: 53%;
  width: 50%;
  margin-top: 3%;
  margin-left: 27%;
  margin-bottom: auto;
}
