.FacilitysignUp {
  display: flex;
}
.FacilitysignUp__right {
  flex: 0.5;
}
.FacilitysignUp__left {
  flex: 0.5;
}
.FacilitysignUp__leftHead {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}
.FacilitysignUp__leftHead > h2 {
  color: #1082cb;
}
.FacilitysignUp__leftArrow {
  margin-right: 80px;
}
.FacilitysignUp__input > input {
  height: 50px;
  width: 300px;
}
.FacilitysignUp__right > img {
  height: 100%;
  width: 100%;
}
.FacilitysignUp__button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 33%;
  background: #1082cb;
  margin-top: 2%;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: 100;
  border-radius: 10px;
  outline: none;
}
.FacilitysignUp__bottom {
  margin-left: 33%;
  margin-top: 40px;
}
.FacilitysignUp__button2 {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1082cb;
  border: 2px solid #1082cb;
  outline: none;
  cursor: pointer;
}
.FacilitysignUp__form {
  margin-left: 260px;
  color: red;
}
