.basicInfo > input {
  width: 50%;
  height: 50%;
}

.basicInfo > h2 {
  margin-left: 12%;
  margin-top: -30px;
  margin-bottom: 3%;
}
.basicInfo__arrowIcon {
  margin-left: 7%;
}
.basicInfo__progress {
  display: flex;
}
.facilityInfo__head {
  display: flex;
  margin-left: 110px;
}
.facilityInfo__head > h2 {
  margin-left: 50px;
  color: #1082cb;
}
