.contactInfoHeader {
  display: flex;
  margin-left: 12%;
  margin-top: 2%;
}

.contact_basicInfo {
  margin-left: 3%;
}
.contact_basic {
  color: silver;
}
.contact_contactInfo {
  text-decoration: none;
  margin-left: 26%;
}
.contact_contact {
  color: #1082cb;
}
.contact_scheduleInfo {
  color: silver;
  margin-left: 24%;
  margin-bottom: 3%;
}
