
.forgetPassword__head {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-left: 450px;
}
.forgetPassword__head > h2 {
  margin-left: 200px;
}
.forgetPassword > p {
  margin-left: 600px;
  font-size: 18px;
}
.forgetPassword__para {
  margin-left: 560px;
  margin-top: -30px;
}
.forgetPassword__img {
  margin-left: 600px;
  margin-top: 50px;
  height: 300px;
}
.forgetPassword__button {
  padding: 10px 30px;
  background: #1082cb;
  margin-top: 4%;
  margin-left: 60%;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: 100;
  border-radius: 10px;
  margin-bottom: 30px;
  outline: none;
}
