.infoHeader {
  display: flex;
  margin-top: 1%;
}
.infoHeader a {
  padding: 4px;
  margin-left: 12%;
  margin-top: -4px;
}

.infoHeader__2 {
  color: silver;
  margin-left: 25%;
  margin-bottom: 3%;
}
.infoHeader__3 {
  color: silver;
  margin-left: 22%;
  margin-bottom: 3%;
}
.infoHeader__link {
  color: #1082cb;
  text-decoration: underline;
}
.infoHeader__3facility {
  margin-left: 24%;
  color: silver;

}
