.info {
  margin-left: 12%;
}
.info__head {
  display: flex;
}
.info__first {
  flex: 0.5;
}
.info__first > input {
  width: 60%;
  margin-bottom: 1%;
  padding: 10px;
}
.info__first > p {
  color: red;
  margin-bottom: 3%;
}
.info__first > h4 {
  margin-bottom: 1%;
}
.info__second {
  flex: 0.5;
}
.info__second > input {
  width: 60%;
  margin-bottom: 1%;
  padding: 10px;
}
.info__second > p {
  margin-bottom: 3%;
  color: red;
}
.info__second > h4 {
  margin-bottom: 1%;
}
.info__street > input {
  width: 80%;
  margin-bottom: 1%;
  padding: 10px;
}
.info__street > p {
  margin-bottom: 2%;
  color: red;
}
.info__street > h4 {
  margin-bottom: 1%;
}
.info__cityHead {
  display: flex;
}
.info__cityHead > h4 {
  margin-bottom: 1%;
}

.info__state {
  flex: 0.33;
}
.info__state > input {
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;
  padding-right: 30px;
}
.info__state > p {
  margin-bottom: 3%;
  color: red;
}
.info__state > h4 {
  margin-bottom: 1%;
}
.info__city {
  flex: 0.33;
}
.info__city > input {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;
  padding-right: 30px;
}
.info__city > p {
  margin-bottom: 3%;
  color: red;
}
.info__city > h4 {
  margin-bottom: 1%;
}
.info__zipCode {
  flex: 0.33;
}
.info__zipCode > h4 {
  margin-bottom: 1%;
}
.info__zipCode > input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;
  padding-right: 17px;
}
.info__zipCode > p {
  margin-bottom: 3%;
  color: red;
}
.info__qualification {
  display: flex;
  margin-bottom: 1%;
}
.info__type1 {
  flex: 0.16;
  display: flex;
}
.info__type1 > h4 {
  margin-top: 9%;
  margin-bottom: 1%;
}
.info__type1 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -3%;
}
.info__type2 {
  flex: 0.16;
  display: flex;
}
.info__type2 > h4 {
  margin-top: 9%;
}
.info__type2 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__type3 {
  flex: 0.16;
  display: flex;
}
.info__type3 > h4 {
  margin-top: 9%;
}
.info__type3 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__type4 {
  flex: 0.16;
  display: flex;
}
.info__type4 > h4 {
  margin-top: 9%;
}
.info__type4 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__type5 {
  flex: 0.16;
  display: flex;
}
.info__type5 > h4 {
  margin-top: 9%;
}
.info__type5 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}

.info__type6 {
  flex: 0.16;
  display: flex;
}
.info__type6 > h4 {
  margin-top: 9%;
}
.info__type6 > input {
  height: 60%;
  width: 25%;
  margin-top: 5%;
  margin-left: -50%;
}
.info__shift {
  display: flex;
}
.info__shift1 {
  flex: 0.33;
  display: flex;
}
.info__shift2 {
  flex: 0.33;
  display: flex;
}
.info__shift3 {
  display: flex;
  flex: 0.33;
}
.info__shift1 > h4 {
  margin-top: 6%;
  margin-left: -5%;
}
.info__shift1 > input {
  height: 50%;
  width: 25%;
  margin-top: 5%;
  margin-left: -7%;
}
.info__shift2 > h4 {
  margin-top: 6%;
  margin-left: -5%;
}
.info__shift2 > input {
  height: 50%;
  width: 25%;
  margin-top: 5%;
  margin-left: -7%;
}
.info__shift3 > h4 {
  margin-top: 6%;
  margin-left: -5%;
}
.info__shift3 > input {
  height: 50%;
  width: 23%;
  margin-top: 5%;
  margin-left: -7%;
}
.info__timeline > h4 {
  margin-top: 3%;
}
.info__timeline > input {
  width: 80%;
  padding: 10px;
  margin-bottom: 3%;
}
.info__timeline > h4 {
  margin-bottom: 2%;
}
.info__work1 {
  flex: 0.2;
  display: flex;
}
.info__work1 > h4 {
  margin-top: 7%;
}
.info__work1 > input {
  height: 55%;
  width: 25%;
  margin-top: 5%;
  margin-left: -3%;
}
.info__work2 {
  flex: 0.2;
  display: flex;
}
.info__work2 > h4 {
  margin-top: 7%;
}
.info__work2 > input {
  height: 55%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__work3 {
  flex: 0.2;
  display: flex;
}
.info__work3 > h4 {
  margin-top: 7%;
}
.info__work3 > input {
  height: 55%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__work4 {
  flex: 0.2;
  display: flex;
}
.info__work4 > h4 {
  margin-top: 7%;
}
.info__work4 > input {
  height: 55%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__work5 {
  flex: 0.2;
  display: flex;
}
.info__work5 > h4 {
  margin-top: 7%;
}
.info__work5 > input {
  height: 55%;
  width: 25%;
  margin-top: 5%;
  margin-left: -25%;
}
.info__agree {
  display: flex;
  margin-top: 3%;
  margin-left: -5%;
}
.info__agree1 {
  flex: 0.45;
  display: flex;
}
.info__agree1 > input {
  width: 25%;
  height: 120%;
  margin-left: 2%;
}
.info__agree1 > h4 {
  margin-top: 3px;
  margin-left: -7%;
}
.info__button {
  display: flex;
  margin-top: 1%;
  margin-left: -25%;
}
.info__button1 {
  flex: 0.5;
}
.info__button2 {
  flex: 0.5;
}
.info__button1 > button {
  padding: 9px;
  width: 100px;
  border-radius: 5px;
  margin-left: 43%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #1082cb;
  border: 1px solid #1082cb;
}
.info__button2 > button {
  padding: 9px;
  width: 100px;
  background: #1082cb;
  border-radius: 5px;
  margin-left: 43%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
}
