.contentData {
  background: #f1faff;
  margin-bottom: 25px;
}
.contentimage {
  align-items: center;
}
.contentData__center {
  align-items: center;
  display: flex;
}
.contentData__center > img {
  margin-right: 8px;
}
.contentData__button1 {
  padding: 4px 5px;
  background: #1082cb;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
  font-size: 14px;
  border: 1px solid #1082cb;
  cursor: pointer;
}
.contentData__button1:hover {
  background-color: #3498db;
}
.contentData__button2 {
  padding: 4px 5px;
  background: #ffffff;
  margin-left: 10%;
  margin-top: 5%;
  border: 1px solid #ffffff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5%;
}
.contentData__button2:hover {
  background: #dfe6e9;
}
.contentData__rate {
  color: #00bd4c;
  font-weight: 800;
}
