.contentData {
  display: flex;
  background: #f1faff;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
}
.contentData__content {
  flex: 0.5;
}
.contentData__img {
  flex: 0.5;
}
.contentData__img > img {
  height: 300px;
  width: 310px;
}
.contentData__bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentData__bookmarkh4 {
  margin-left: 10%;
  margin-top: 4%;
  text-transform: uppercase;
}
.contentData__imgbookmark {
  cursor: pointer;
  margin-top: 5%;
}
/* .content__bookmarkimg:hover {
    transform: scale(1.08);
  } */
.contentData__content > p {
  margin-left: 10%;
  margin-top: -4px;
  font-size: 12px;
}

.contentData__logo {
  font-size: 16px;
  margin-left: 10%;
  margin-top: 16%;
}

.contentData__logo1 > img {
  width: 13px;
  margin-right: 4%;
  height: 13px;
}
.contentData__logo1 {
  margin-top: 13%;
}
.contentData__qualification {
  display: flex;
  justify-content: space-between;
}

.contentData__logo3 {
  display: flex;
  align-items: center;
  margin-top: 13%;
}
.contentData__price {
  margin-top: 13%;
  color: #00bd4c;
  font-size: 18px;
  margin-right: 5px;
}
.contentData__logo3 > img {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.contentData__button {
  display: flex;
  justify-content: space-between;
}
.contentData__button1 {
  padding: 4px 5px;
  background: #1082cb;
  margin-left: 10%;
  margin-top: 5%;
  color: white;
  font-size: 14px;
  border: 1px solid #1082cb;
  cursor: pointer;
}
.contentData__button1:hover {
  background-color: #3498db;
}
.contentData__button2 {
  padding: 4px 5px;
  background: #ffffff;
  margin-left: 10%;
  margin-top: 5%;
  border: 1px solid #ffffff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5%;
}
.contentData__button2:hover {
  background: #dfe6e9;
}
