.content__post {
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.content__page {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 450px;
}

.content__page > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 20px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.1s;
  cursor: pointer;
}

.content__page a.active {
  color: #1082cb;
  text-decoration: underline;
  align-items: center;
}
.content__back {
  margin-right: 15px;
}

.content__search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__filter {
  flex: 0.5;
}
