.content {
  flex: 0.5;
}
.content__bookmark > h4 {
  margin-left: 17%;
  margin-top: 4%;
}
.content__bookmarkimg {
  cursor: pointer;
}
.content__bookmarkimg:hover {
  transform: scale(1.08);
}
.content > p {
  margin-left: 17%;
  margin-top: 4%;
  margin-top: -1px;
  font-size: 12px;
}
.content__bookmark {
  display: flex;
}
.content__bookmark > img {
  margin-left: 30%;
  margin-top: 3%;
}
.content__logo {
  font-size: 12px;
  margin-left: 10%;
  margin-top: 14%;
}
.content__logo1 {
  font-size: 12px;
  margin-top: 14%;
}
.content__logo1 > img {
  width: 13px;
  margin-right: 4%;
  height: 11px;
}
.content__logo > img {
  width: 13px;
  height: 11px;
  margin-right: 4%;
}
.content__logo3 {
  font-size: 12px;
  margin-top: 6%;
  display: flex;
}
.content__logo3 > img {
  width: 13px;
  margin-right: 4%;
  height: 11px;
}
.content__logo3 > h2 {
  margin-left: 20%;
  color: #00bd4c;
}
.content__button1 {
  padding: 4px 5px;
  width: 100px;
  background: #1082cb;
  margin-left: 10%;
  margin-top: 20%;
  color: white;
  font-size: 14px;
  border: 1px solid #1082cb;
  cursor: pointer;
}
.content__button1:hover {
  background-color: #3498db;
}
.content__button2 {
  padding: 4px 2px;
  width: 100px;
  background: #ffffff;
  margin-left: 10%;
  margin-top: 20%;
  color: black;
  border: 1px solid #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.content__button2:hover {
  background: #dfe6e9;
}
