.search {
  width: 1187px;
  height: 70px;
  margin-top: 40px;
  margin-left: 80px;
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.search__icons {
  display: flex;
  flex: 0.5;
  border-right: 2px solid silver;
  border-width: 4px;
  height: 40px;
  margin-top: 15px;
}
.search__searchicon {
  margin-top: 10px;
  margin-left: 10%;
}
.search__input {
  width: 100%;
  border: none;
  margin-left: 2%;
  font-size: 15px;
}
.search__input:focus {
  outline: 0;
}
.search__cancelicon {
  margin-right: 21%;
  margin-top: 10px;
}
.search__maps {
  flex: 0.5;
}
.search__map {
  height: 40px;
  display: flex;
}
.search__buttons {
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 5px;
}
.search__buttons > button {
  color: white;
  background: #1082cb;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}
.search__buttons > button:hover {
  background: #3498db;
}
.search__cancelicon1 {
  margin-left: 54%;
  margin-top: 4%;
}
