.dimage {
  margin-left: 2%;
}
.dimage__head {
  margin-top: 5%;
  display: flex;
  margin-left: 8%;
}
.dimage__head > h2 {
  margin-left: 10%;
}
.dimage__image {
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.dimage__input1 > input {
  margin-top: 3%;
  background: #f1faff;
  padding: 14px;
  padding-right: 45%;
  border: none;
  margin-left: 20%;
  display: flex;
}
.dimage__input1 > input:focus {
  outline: 0;
}
.dimage__input2 {
  display: flex;
  margin-left: 16%;
}
.dimage__input2 > input {
  margin-top: 2%;
  background: #f1faff;
  padding: 13px;
  padding-right: 32px;
  border: none;
  margin-left: 5%;
}
.dimage__input2 > input:focus {
  outline: 0;
}
.dimage > button {
  margin-top: 5%;
  padding: 10px 34%;
  border-radius: 10px;
  color: white;
  background: #00bd4c;
  font-weight: 800;
  border: none;
  margin-left: 19%;
}
.dimage > button:focus {
  outline: 0;
}
.dimage > button:hover {
  background-color: #71e49f;
}
/* .slides.slick-prev,
.slides.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
} */

svg {
  height: 30px;
  cursor: pointer;
}
.dimage__icons {
  margin-left: 55%;
}
