.imgLogin > img {
  object-fit: contain;
  width: 100%;
}
.login__contenthead {
  display: flex;
  color: #1082cb;
}
.login__button {
  padding: 9px;
  width: 100px;
  background: #1082cb;
  border-radius: 10px;
  margin-left: 19%;
  margin-top: 2%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.login__head {
  margin-left: 16%;
  margin-top: 6%;
}
.login__head > h2 {
  color: #1082cb;
}
