.login__body {
  display: flex;
}
.login__content {
  flex: 1;
  margin-top: 50px;
  margin-left: 330px;
}
.imgLogin {
  object-fit: contain;
  height: 90vh;
}
.login__contenthead {
  display: flex;
  color: #1082CB;
}
.login__contenthead > h2 {
  padding-left: 78px;
}
.login__content > h2 {
  padding-left: 98px;
  margin-top: 5px;
  color: #1082CB;

}
/* h2 {
  color: #1082cb;
} */
.login__button {
  padding: 9px;
  width: 100px;
  background: #1082cb;
  border-radius: 10px;
  margin-left: 19%;
  margin-top: 2%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

