.upComingShiftCard {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: #f1faff;
  margin-left: 5%;
  margin-top: 2%;
}
.upComingShiftCard > h2 {
  margin-left: 4%;
  margin-top: 3%;
}
.upComingShiftCard > p {
  margin-left: 4%;
}
.upComingShiftCard__logo {
  margin-top: 4%;
  margin-left: 4%;
  align-items: center;
}
.upComingShiftCard__logo > img {
  margin-top: 3%;
}
.upComingShiftCard__img {
  display: flex;
  align-items: center;
}
.upComingShiftCard__img > img {
  margin-right: 10px;
}
.upComingShiftCard__time {
  display: flex;
}
.upComingShiftCard__time > h3 {
  color: #00bd4c;
  margin-left: 50%;
}
.upComingShiftCard__spec {
  display: flex;
}
.upComingShiftCard__specButton1 {
  background: #1082cb;
  margin-left: 28%;
  color: white;
  font-size: 14px;
  border: 1px solid #1082cb;
  cursor: pointer;
  font-weight: 600;
}
.upComingShiftCard__specButton1:hover {
  background-color: #3498db;
}
.upComingShiftCard__spec > button {
  padding: 6px 8px;
  border-radius: 5px;
}
.upComingShiftCard__specButton2 {
  background: #ffffff;
  margin-left: 2%;
  color: black;
  border: 1px solid #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.upComingShiftCard__specButton2:hover {
  background: #dfe6e9;
}
