.scheduleHead {
  display: flex;
  margin-left: 12%;
  margin-top: 1%;
}

.schedule_basicInfo {
  margin-left: 3%;
}
.schedule_contactInfo {
  margin-left: 26%;
}

.schedule_contact {
  color: silver;
  text-decoration: none;
}
.schedule_basic {
  color: silver;
}
.schedule_scheduleInfo {
  color: #1082cb;
  margin-left: 24%;
  margin-bottom: 3%;
}
.schedule_scheduleInfoFacility {
  margin-left: 27%;
}
.schedule_contactInfoFacility {
  margin-left: 29%;
}
.schedule_contactFacility {
  color: #1082cb;
}
