.scheduleHead {
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  margin-left: 16%;
}

.schedule_contact {
  color: silver;
  text-decoration: none;
}
.schedule_basic {
  color: silver;
}
.schedule_scheduleInfo {
  color: #1082cb;
}
.schedule_Facility {
  color: silver;
}
