.shifts__button {
  margin: 15%;
}
.shifts__button > button {
  border: none;
  width: 50px;
  font-size: 16px;
  padding: 10%;
  background-color: white;
  cursor: pointer;
}
.shifts__button > button:hover {
  background-color: lightgrey;
}
.shifts__button > button:focus {
  outline: 0;
}
