.accountInformationLeft {
  flex: 0.3;
}
.accountInformationLeft__position {
  justify-content: center;
  align-items: center;
}
.accountInformationLeft__position > h2 {
  margin-top: 10px;
  text-align: center;
}
.accountInformationLeft__button1 {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  border: none;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  background: white;
  border: none;
}
