.completedShifts {
  display: flex;
}
.completedShifts__left {
  flex: 0.3;
  border-right: 2px solid silver;
}

.completedShifts__left > img {
  height: 140px;
  width: 150px;
  margin-left: 130px;
  margin-top: 40px;
}
.completedShifts__left > h2 {
  margin-left: 40%;
}
.completedShifts__left > button {
  font-size: 14px;
}
.completedShifts__rightIcons {
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-left: 20%;
  margin-bottom: 30px;
}
.completedShifts__rightIcons >h2{
    margin-right: 10px;
}
.completedShifts__right {
  flex: 0.7;
}
.completedShifts__button1 {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  border: none;
  background: none;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}
.completedShifts__button1:focus {
  outline: 0;
}
.completedShifts__button2 {
  width: 100%;
  background: #f1faff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  border: none;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
  background: #f1faff;
}
.completedShifts__button2:focus {
  outline: 0;
}
.completedShifts__button3 {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  border: none;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  background: none;
}
.completedShifts__button3:focus {
  outline: 0;
}
