.inputs {
  flex: 0.5;
}
.inputs__input {
  outline: none;
  margin-top: 8%;
  margin-left: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 50%;
}
.inputs__invalid{
  border: 1px solid red
}