.useformsSignup {
  flex: 0.5;
}

.useformsSignup__button {
  padding: 15px;
  background: #1082cb;
  margin-top: 2%;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: 100;
  border-radius: 10px;
}
.useformsSignup__button:focus {
  outline: 0;
}
.useformsSignup__button:hover {
  background-color: #3498db;
}

.useformsSignup__head {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}
.useformsSignup__head > h2 {
  color: #1082cb;
  margin-left: 40px;
}
.useformsSignup__arrowIcon {
  margin-left: 3%;
}
.useformsSignup__form {
  color: red;
  margin-left: 18%;
  margin-top: -4%;
}
