.useforms {
  flex: 0.5;
}
.useforms > h2 {
  color: #1082cb;
  margin-left: 18%;
  margin-top: -20px
}
.useforms__button {
  padding: 15px;
  margin-left: 16%;
  background: #1082cb;
  margin-top: 2%;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: 100;
  border-radius: 10px;
}
.useforms__button:focus{
  outline: 0;
}
.useforms__button:hover {
  background-color: #3498db;
}

.useforms__align {
  display: flex;
}
.useforms__arrowIcon {
  margin-left: 8%;
  margin-top:50px
}
.useforms__form  {
  color: red;
  margin-left: 17%;
  margin-top: -4%;
}

