.profile__head > .MuiAvatar-root {
  height: 140px;
  width: 150px;
  margin-left: 145px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profile__head > .MuiAvatar-root > .MuiAvatar-img:hover {
  background: black;
  color: blue;
  cursor: pointer;
}
.profile__input {
  display: none;
}
.profile__label {
  cursor: pointer;
  color: white;
  background-color: #1082cb;
  margin-left: 175px;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
}
.profile > p {
  margin-top: 10px;
  color: red;
  margin-left: 110px;
}
.profile__avatar {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
}
.profile__labelFacility {
  cursor: pointer;
  margin-left: 25px;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
}
