.accountInfomationRightChild {
  flex: 0.7;
  border-left: 2px solid silver;
}
.accountInformationRight__facility > input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.accountInformationRight__LastName {
  margin-left: 450px;
}
.accountInformationRight__LastName > input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
